<a href="https://colab.research.google.com/github/MarcusPauloFaustino1/Exercicios-Growdev/blob/main/atividade2semana2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex 1
**Qual a quantidade de pessoas nas seguintes faixas etárias** 

  - 20 anos ou menos
  - 21 a 35 anos
  - 36 a 50 anos
  - 51 a 65 anos
  - maiores de 65 anos

In [2]:
import pandas as pd 

data = pd.read_csv("dados.csv")

In [3]:
data['Faixa_Etária'] = pd.cut(x=data['Idade'], bins=[0,20,35,50,65,200], labels=['<= 20','<= 35','<= 50','<= 65','> 65'])
data_grupo = data.groupby('Faixa_Etária').count()
data_grupo['Idade']

Faixa_Etária
<= 20      764
<= 35    20654
<= 50    31770
<= 65    20006
> 65      3646
Name: Idade, dtype: int64

# Ex 2
**Qual é a média de escolaridade em cada faixa etária?**

In [4]:
filter = data[data['Anos de Estudo'] != 17]

#filter = data

faixa_etaria = filter['Faixa_Etária'] = pd.cut(x=filter['Idade'], bins=[0,20,35,50,65,200], labels=['<= 20','<= 35','<= 50','<= 65','> 65'])

media_escolaridade = filter.groupby('Faixa_Etária')['Anos de Estudo'].mean()

print(media_escolaridade)

Faixa_Etária
<= 20     9.627477
<= 35    10.789356
<= 50     9.747839
<= 65     8.254205
> 65      5.833105
Name: Anos de Estudo, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

# Ex 3
**Qual a UF que concentra a maior renda?**

In [5]:
renda = data.groupby('UF')['Renda'].sum()

print(f'A UF com maior renda é: {renda.idxmax()}\nCom renda acumulada de: R$ {renda.max():,.2f}')

A UF com maior renda é: 35
Com renda acumulada de: R$ 22,539,969.00

# Ex 4
**Qual a renda média de pessoas pretas e brancas de homens e mulheres?**

In [6]:
cores = data.query('Cor == 2 | Cor == 4')
renda_sexo_por_cor = cores.groupby(['Cor','Sexo']).mean()
print(renda_sexo_por_cor[['Renda']])

                Renda
Cor Sexo
2   0     2925.744435
    1     2109.866750
4   0     1603.861687
    1     1134.596400

# Ex 5
**Qual a renda média concentrada em cada faixa etária?**

In [7]:
media_renda = data.groupby('Faixa_Etária')['Renda'].mean()

print(media_renda)

Faixa_Etária
<= 20     985.348168
<= 35    1748.286143
<= 50    2113.756091
<= 65    2150.196741
> 65     1831.231487
Name: Renda, dtype: float64

# Ex 6
**Qual a renda média nas faixas de anos de estudo abaixo?**

  - 2 anos ou menos
  - 3 a 6 anos
  - 7 a 10 anos
  - 10 a 12 anos
  - 13 anos ou mais

In [8]:
faixa_renda = data['Faixa_Renda'] = pd.cut(x=filter['Anos de Estudo'], bins=[0,2,6,10,12,15], labels=['<= 2','<= 6','<= 10','<= 12','> 15'])

media_renda = data.groupby('Faixa_Renda')['Renda'].mean()

media_renda

Faixa_Renda
<= 2      747.096725
<= 6     1089.379778
<= 10    1370.885114
<= 12    1809.783245
> 15     2629.527362
Name: Renda, dtype: float64

# Ex 7
**Qual a maior escolaridade entre indígenas, para homens e mulheres?**

In [9]:
data_indigenas = data.query('Cor == 0')
data_filter = data_indigenas[data_indigenas['Anos de Estudo'] != 17]


max_escolaridade = data_filter.groupby('Sexo').max()
max_escolaridade

,UF,Idade,Cor,Anos de Estudo,Renda,Altura,Faixa_Etária,Faixa_Renda
Sexo,,,,,,,,
0,53,97,0,16,10000,1.918412,> 65,> 15
1,53,79,0,16,120000,1.937588,> 65,> 15

# Ex 8
**Qual a média de anos de estudo entre brancos e negros?**

In [10]:
white_data = data.query('Cor == 2')
black_data = data.query('Cor == 4')


white_mean = white_data[white_data['Anos de Estudo'] != 17]

black_mean = black_data[black_data['Anos de Estudo'] != 17]

print(f"Média de escolaridade entre brancos: {white_mean['Anos de Estudo'].mean():.3f}")
print(f"Média de escolaridade entre pretos: {black_mean['Anos de Estudo'].mean():.3f}")

Média de escolaridade entre brancos: 10.478
Média de escolaridade entre pretos: 8.841

# Ex 9
**Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?**

In [11]:
from numpy.ma.core import mean
white_data = data.query('Cor == 2')
black_data = data.query('Cor == 4')

female_white = white_data.query('Sexo == 1')
female_black = black_data.query('Sexo == 1')

filter_white = female_black[female_black['Anos de Estudo'] != 17]
filter_black = female_white[female_white['Anos de Estudo'] != 17]

mean_white = filter_white[['Anos de Estudo','Renda']].mean()
mean_black = filter_black[['Anos de Estudo','Renda']].mean()

print(f'A média de estudos e de renda entre mulheres brancas é:\n{mean_white}')
print(f'\n\nA média de estudos e de renda entre mulheres pretas é:\n{mean_black}')

A média de estudos e de renda entre mulheres brancas é:
Anos de Estudo       9.491137
Renda             1135.295099
dtype: float64


A média de estudos e de renda entre mulheres pretas é:
Anos de Estudo      11.281530
Renda             2113.402126
dtype: float64

# Ex 10
**Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?**

In [12]:
grouped_data = data.groupby('UF').mean()

data_filter = data[data['Anos de Estudo'] != 17]

grouped_data_filtered = data_filter.groupby('UF').mean()

print(f"A UF com maior média de escolaridade é: {grouped_data_filtered['Anos de Estudo'].idxmax()}")
print(f"A UF com maior média de renda é: {grouped_data['Renda'].idxmax()}")

A UF com maior média de escolaridade é: 53
A UF com maior média de renda é: 53

# Ex 11
**Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.**

In [13]:
#Qual é a média de altura entre as UFs, qual é a UF mais alta e sua altura média. E qual é a mais baixa e sua altura média?

alturas = data.groupby('UF')['Altura'].mean()

print(f'A média de altura entre as UFs é {alturas.mean()}')
print(f'A UF com maior média de altura é: {alturas.idxmax()}')
print(f'A média de altura de {alturas.idxmax()} é: {alturas.max()}')
print(f'A UF com menor média de altura é: {alturas.idxmin()}')
print(f'A média de altura de {alturas.idxmin()} é: {alturas.min()}')

A média de altura entre as UFs é 1.6995090358865843
A UF com maior média de altura é: 11
A média de altura de 11 é: 1.7039666570058556
A UF com menor média de altura é: 27
A média de altura de 27 é: 1.6939066026423033