<a href="https://colab.research.google.com/github/MarcusPauloFaustino1/Exercicios-Growdev/blob/main/atividade2semana2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd 

data = pd.read_csv("dados.csv")

data.groupby('UF').max()

    Sexo  Idade  Cor  Anos de Estudo   Renda    Altura
UF
11     1     85    8              17   50000  1.938220
12     1     95    8              17   30000  1.936058
13     1     87    8              17   22000  1.978624
14     1     78    8              16   20000  1.946004
15     1     91    8              17   50000  1.962313
16     1     75    8              17   15580  1.919866
17     1     92    8              17   60000  1.977517
21     1     97    8              17   30000  1.990397
22     1     88    8              16   40000  1.953232
23     1     90    8              17   25000  1.968152
24     1     91    8              17   15500  1.994329
25     1     91    8              17   30000  1.947737
26     1     90    8              17   50000  2.001359
27     1     78    8              17   11000  1.931330
28     1     88    8              16   16000  1.981573
29     1     92    8              17  200000  2.015830
31     1     94    8              17  100000  1.992238
32     1     84    8              17  100000  1.952422
33     1     91    8              17  200000  1.987758
35     1     92    8              17   80000  2.000559
41     1     87    8              17  200000  2.028497
42     1     87    8              17   80000  1.983164
43     1     90    8              17   35000  1.993742
50     1     87    8              17   42000  1.965365
51     1     84    8              17   35000  1.973783
52     1     99    8              17   30000  1.959253
53     1     81    8              17  100000  1.940594

In [ ]:
data['Faixa_Etária'] = pd.cut(x=data['Idade'], bins=[0,20,35,50,65,200], labels=['<= 20','<= 35','<= 50','<= 65','> 65'])
data_grupo = data.groupby('Faixa_Etária').count()
data_grupo['Idade']

In [ ]:
filter = data[data['Anos de Estudo'] != 17]

#filter = data

faixa_etaria = filter['Faixa_Etária'] = pd.cut(x=filter['Idade'], bins=[0,20,35,50,65,200], labels=['<= 20','<= 35','<= 50','<= 65','> 65'])

media_escolaridade = filter.groupby('Faixa_Etária')['Anos de Estudo'].mean()

print(media_escolaridade)

In [ ]:
renda = data.groupby('UF')['Renda'].sum()

print(f'A UF com maior renda é: {renda.idxmax()}\nCom renda acumulada de: R$ {renda.max():,.2f}')

In [ ]:
cores = data.query('Cor == 2 | Cor == 4')
renda_sexo_por_cor = cores.groupby(['Cor','Sexo']).mean()
print(renda_sexo_por_cor[['Renda']])

In [ ]:
media_renda = data.groupby('Faixa_Etária')['Renda'].mean()

print(media_renda)

In [ ]:
faixa_renda = data['Faixa_Renda'] = pd.cut(x=filter['Anos de Estudo'], bins=[0,2,6,10,12,15], labels=['<= 2','<= 6','<= 10','<= 12','> 15'])

media_renda = data.groupby('Faixa_Renda')['Renda'].mean()

media_renda

In [8]:
data_indigenas = data.query('Cor == 0')
data_filter = data_indigenas[data_indigenas['Anos de Estudo'] != 17]


max_escolaridade = data_filter.groupby('Sexo').max()
max_escolaridade

      UF  Idade  Cor  Anos de Estudo  Renda    Altura
Sexo
0     31     97    0              16  10000  1.918412
1     31     79    0              16   5500  1.887315

In [23]:
white_data = data.query('Cor == 2')
black_data = data.query('Cor == 4')


white_mean = white_data[white_data['Anos de Estudo'] != 17]

black_mean = black_data[black_data['Anos de Estudo'] != 17]

print(f"Média de escolaridade entre brancos: {white_mean['Anos de Estudo'].mean():.3f}")
print(f"Média de escolaridade entre pretos: {black_mean['Anos de Estudo'].mean():.3f}")

Média de escolaridade entre brancos: 9.657
Média de escolaridade entre pretos: 8.442

In [40]:
from numpy.ma.core import mean
white_data = data.query('Cor == 2')
black_data = data.query('Cor == 4')

female_white = white_data.query('Sexo == 1')
female_black = black_data.query('Sexo == 1')

filter_white = female_black[female_black['Anos de Estudo'] != 17]
filter_black = female_white[female_white['Anos de Estudo'] != 17]

mean_white = filter_white[['Anos de Estudo','Renda']].mean()
mean_black = filter_black[['Anos de Estudo','Renda']].mean()

print(f'A média de estudos e de renda entre mulheres brancas é:\n{mean_white}')
print(f'\n\nA média de estudos e de renda entre mulheres pretas é:\n{mean_black}')

A média de estudos e de renda entre mulheres brancas é:
Anos de Estudo      9.413572
Renda             967.970551
dtype: float64


A média de estudos e de renda entre mulheres pretas é:
Anos de Estudo      10.846628
Renda             1767.551060
dtype: float64

In [56]:
grouped_data = data.groupby('UF').mean()

data_filter = data[data['Anos de Estudo'] != 17]

grouped_data_filtered = data_filter.groupby('UF').mean()

print(f"A UF com maior média de escolaridade é: {grouped_data_filtered['Anos de Estudo'].idxmax()}")
print(f"A UF com maior média de renda é: {grouped_data['Renda'].idxmax()}")

A UF com maior média de escolaridade é: 53
A UF com maior média de renda é: 53

In [68]:
#Qual é a média de altura entre as UFs, qual é a UF mais alta e sua altura média. E qual é a mais baixa e sua altura média?

alturas = data.groupby('UF')['Altura'].mean()

print(f'A média de altura entre as UFs é {alturas.mean()}')
print(f'A UF com maior média de altura é: {alturas.idxmax()}')
print(f'A média de altura de {alturas.idxmax()} é: {alturas.max()}')
print(f'A UF com menor média de altura é: {alturas.idxmin()}')
print(f'A média de altura de {alturas.idxmin()} é: {alturas.min()}')

A média de altura entre as UFs é 1.6995090358865843
A UF com maior média de altura é: 11
A média de altura de 11 é: 1.7039666570058556
A UF com menor média de altura é: 27
A média de altura de 27 é: 1.6939066026423033